body{
    background-color: lightseagreen;
    padding: 0;
    margin: 10px;
    text-align: center;
}
header, footer{
    background-color: aliceblue;
    height: 20vh;
    width: 205vh;
}
#main aside{
    background-color: aliceblue;
    width: 20vw;
    margin-top: 15px;
    margin-bottom: 15px;
}
#main{
    display: flex;
    gap: 10px;
}
#main article{
    background-color: aliceblue;
    height: 50vh;
    margin-top: 15px;
    margin-bottom: 15px;
    flex: 30vh;
}
#img2{
    height: 10vw;
    display: flex;
    margin-left: 80px;
    margin-top: 100px;
}
#img2 img{
    margin: 0 20px;
}
#judul {

    margin-left: 10px;
}