body{
    padding: 0;
    margin: 0;
    text-align: center;
}
header,footer{
    background-color: yellow;
    height: 20vh;
    width: 100vw;
}
#main{
    display: flex;
}
#main article{
    background-color: lightgreen;
    height: 60vh;
    flex: 40vw;
}
nav{
    background-color: pink;
    width: 20vh;
    height: 100vh;
    float: left;
}
#main aside{
    background-color: aqua;
    height: 60vh;
    flex: 10vh;
}