.container1{
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}
.atas{
    height: 150px;
    border-radius: 50px;
    width: 100%;
    background-color: greenyellow;
    border: dotted;
}

.kuning{
    height: 140px;
    width: 140px;
    margin-bottom: 10px;
    background-color: yellow;
}
.oren{
    height: 140px;
    width: 85%;
    background-color: orange;
}
.biru{
    height: 140px;
    width: 85%;
    background-color: aqua;
}
.container1{
    display: flex;
    justify-content: space-between;
}
.container2{
    display: flex;
    justify-content: space-between;
}